In [1]:
f = open("ejemplo.txt","w+")

In [2]:
for i in range(10):
     f.write("Linea numero %d\r\n" % (i+1))

In [3]:
f.close()

In [5]:
with open("ejemplo.txt","a+") as f:
    for i in range(10):
        f.write("Linea numero %d\r\n" % (i+1))

In [6]:
with open("ejemplo.txt","r") as f:
    for linea in f.readlines():
        print(linea)

Linea numero 1

Linea numero 2

Linea numero 3

Linea numero 4

Linea numero 5

Linea numero 6

Linea numero 7

Linea numero 8

Linea numero 9

Linea numero 10

Linea numero 1

Linea numero 2

Linea numero 3

Linea numero 4

Linea numero 5

Linea numero 6

Linea numero 7

Linea numero 8

Linea numero 9

Linea numero 10

In [7]:
import json
import codecs

In [15]:
a = ["manzana","naranja", "pi√±a"]

In [16]:
json.dumps(a)

'["manzana", "naranja", "pina"]'

In [18]:
with open("a.txt","w+") as f:
    json.dump(a,f)

In [19]:
with open("a.txt","r") as f:
    a = json.load(f)

In [20]:
a

['manzana', 'naranja', 'pina']

In [24]:
import csv
with open('ejemplo.csv') as f:
  reader = csv.reader(f, delimiter=';')
  line_count = 0
  for row in reader:
    if line_count == 0:
      print('Columnas {0}'.format(", ".join(row)))
      line_count += 1
    else:
      print(", ".join(row))      
      line_count += 1
  print('Numero de linea={0}'.format(line_count))

Columnas , A, B, C
Lima, 20, 40, 100
Arequipa, 10, 50, 80
Ica, 15, 20, 200
Puno, 5, 10, 150
Numero de linea=5

In [26]:
import pandas as pd
pd.read_excel("ejemplo.xlsx")

           A   B    C
Lima      20  40  100
Arequipa  10  50   80
Ica       15  20  200
Puno       5  10  150