In [1]:
print("Hola mundo")

Hola mundo

In [6]:
dia=23; mes=8;

In [11]:
print("Dia {0} del mes {1}".format(dia,mes))

Dia 23 del mes 8

In [13]:
pi=3.141592; r=4;area=pi*r*r

In [19]:
print("El area es {0:5.2f}".format(area))

El area es 50.27

In [20]:
print("El area es {0:010.2f}".format(area))

El area es 0000050.27

In [21]:
print("El area es {0:>10.2f}".format(area))

El area es      50.27

In [23]:
print("El area es {0:^10.2f}".format(area))

El area es   50.27

In [30]:
r=float(input("Ingrese el valor del radio: "))
area=pi*r*r
print("El area es {0:<10.2f}".format(area))

Ingrese el valor del radio: 6
El area es 113.10

In [31]:
x=2; y=3;

In [32]:
x+y

5

In [33]:
x-y

-1

In [34]:
x*y

6

In [35]:
x/y

0.6666666666666666

In [36]:
x**y

8

In [37]:
x>y

False

In [38]:
x<y

True

In [40]:
x==y

False

In [41]:
x!=y

True

In [42]:
2*x-y == 2*y-4

False

In [43]:
(x>y) & (x==2*y-1)

False

In [49]:
(x<2*y)|(2*x-1>0)

True

In [52]:
not( (0<x-1<2)|(y>1) )

False

In [53]:
"vi" in "viernes"

True

In [54]:
mes = "agosto"

In [55]:
len(mes)

6

In [58]:
mes[0:2]

'ag'

In [59]:
mes[2:]

'osto'

In [60]:
mes[0:2] + mes[2:]

'agosto'

In [61]:
mes[-1]

'o'

In [62]:
mes.upper()

'AGOSTO'

In [63]:
mes.lower()

'agosto'

In [64]:
mes.title()

'Agosto'

In [65]:
x = None

In [67]:
y = None

In [68]:
x == y

True

In [69]:
x is y

True

In [70]:
z = 3

In [71]:
z is None

False

In [72]:
import math

In [73]:
math.sin(z)

0.1411200080598672

In [74]:
math.pi

3.141592653589793

In [75]:
math.e

2.718281828459045