In [1]:
a = [10, 20, 30]

In [2]:
type(a)

list

In [3]:
b = [2 , 3]

In [4]:
a + b

[10, 20, 30, 2, 3]

In [5]:
a[0]

10

In [6]:
len(a)

3

In [10]:
a[3:] = [5]; print(a)

[10, 20, 30, 5]

In [11]:
a = [ 2*x-1 for x in range(1,10)]

In [12]:
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [13]:
b = [ 5*x for x in range(1,10)]

In [14]:
print([x for x in a if x in b])

[5, 15]

In [15]:
s = { "ene":31 , "feb":28, "mar":31}

In [16]:
type(s)

dict

In [17]:
s.keys()

dict_keys(['ene', 'feb', 'mar'])

In [18]:
s.values()

dict_values([31, 28, 31])

In [19]:
s["ene"]

31

In [20]:
for key in s:
    print(s[key])

31
28
31

In [21]:
list(s)

['ene', 'feb', 'mar']

In [25]:
dict(ene=31,feb=28,mar=31)

{'ene': 31, 'feb': 28, 'mar': 31}

In [26]:
for x in a:
    print(x)

1
3
5
7
9
11
13
15
17

In [29]:
w = (1,True,"***")

In [30]:
type(w)

tuple

In [40]:
n,m,k = w

In [45]:
from numpy import sin,cos, log, exp, sinh,cosh,abs,ceil,floor

In [50]:
log(2.71)

0.9969486348916096

In [49]:
floor(4)

4.0

In [52]:
x=float(input('Ingrese x : '))
y=log(abs(x)) -floor(x+1) +2*floor(abs(x)+2)
print(y)

Ingrese x : 3
7.09861228866811

In [58]:
celdas={"blanca":"  ", "negra":chr(9608)*2}

In [59]:
celdas

{'blanca': '  ', 'negra': '██'}

In [61]:
for i in range(8):
  fila = ''  
  for j in range(8):
    if (i+j)%2==0:
        color='negra'
    else:
        color='blanca'
    fila = fila + celdas[color]    
  print(fila)

██  ██  ██  ██
  ██  ██  ██  ██
██  ██  ██  ██
  ██  ██  ██  ██
██  ██  ██  ██
  ██  ██  ██  ██
██  ██  ██  ██
  ██  ██  ██  ██