In [2]:
x=float(input("x="))
if x>1 : 
    x=x**2
else :
    x=x/2
print("x={}".format(x))

x=0.5
x=0.25

In [3]:
n = int(input("n="))
for i in range(1,n):
    print("{:4d}{:4d}{:4d}"
          .format(i,i**2,i**3))

n=4
   1   1   1
   2   4   8
   3   9  27

In [4]:
n = int(input("n="))
for i in range(n):
    print(i)
    if i>n/2 :
        break

n=10
0
1
2
3
4
5
6

In [5]:
n = int(input("n="))
for i in range(n):
    if i>n/2 :
        continue    
    print(i)

n=10
0
1
2
3
4
5

In [7]:
n=8;
for k in range(1,n):
    print('*'*k)

*
**
***
****
*****
******
*******

In [8]:
a = []

In [9]:
b = [1,2]

In [10]:
a+b

[1, 2]

In [11]:
b[0]

1

In [12]:
b[1]

2

In [27]:
a = []
for i in range(10):
    a.append(i*i)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
a = [i**2  for i in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
a = [i**2  for i in range(10) if i%3!=0]
print(a)

[1, 4, 16, 25, 49, 64]

In [30]:
a[0]

1

In [31]:
a[0:2]

[1, 4]

In [37]:
a[-3:]

[25, 49, 64]

In [38]:
a[-3:-1]

[25, 49]

In [39]:
len(a)

6

In [53]:
a = [x for x in range(100) if x%6==0]

In [43]:
b = [x for x in range(100) if x%10==0]

In [46]:
c = [x for x in a if x in b ]

In [49]:
a

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [54]:
a.extend([100])
a

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 100]

In [55]:
a.remove(0)

In [56]:
a

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 100]